@font-face {
    font-family: 'rubikregular';
    src: url('../fonts/rubik-regular.woff2') format('woff2'),
    url('../fonts/rubik-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-light.woff2') format('woff2'),
    url('../fonts/rubik-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubiklight_italic';
    src: url('../fonts/rubik-lightitalic.woff2') format('woff2'),
    url('../fonts/rubik-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}