.target_4_0{
    background-color: #81C784;
}

.target_6_0{
    background-color: #AED581;
}

.target_8_0{
    background-color: #DCE775;
}

.target_10_0{
    background-color: #FFF176;
}

.target_12_0{
    background-color: #FFD54F;
}

.target_14_0{
    background-color: #FFB74D;
}

.target_16_0{
    background-color: #FF8A65;
}

.target_4_1{
    background-color: #A5D6A7;
}

.target_6_1{
    background-color: #C5E1A5;
}

.target_8_1{
    background-color: #E6EE9C;
}

.target_10_1{
    background-color: #FFF59D;
}

.target_12_1{
    background-color: #FFE082;
}

.target_14_1{
    background-color: #FFCC80;
}

.target_16_1{
    background-color: #FFAB91;
}