.target_0_0{
    background-color: #81C784;
}

.target_1_0{
    background-color: #AED581;
}

.target_2_0{
    background-color: #DCE775;
}

.target_3_0{
    background-color: #FFF176;
}

.target_4_0{
    background-color: #FFD54F;
}

.target_5_0{
    background-color: #FFB74D;
}

.target_6_0{
    background-color: #FF8A65;
}

.target_0_1{
    background-color: #A5D6A7;
}

.target_1_1{
    background-color: #C5E1A5;
}

.target_2_1{
    background-color: #E6EE9C;
}

.target_3_1{
    background-color: #FFF59D;
}

.target_4_1{
    background-color: #FFE082;
}

.target_5_1{
    background-color: #FFCC80;
}

.target_6_1{
    background-color: #FFAB91;
}